<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carubbi.Extensions" version="1.0.0.0" targetFramework="net472" />
  <package id="Carubbi.Utils" version="1.4.3.0" targetFramework="net45" />
  <package id="Carubbi.WindowsAppHelper" version="1.0.0.0" targetFramework="net472" />
</packages>